<web-app>
   <servlet>
        <servlet-name>StaticContent</servlet-name>
        <servlet-class>org.epics.archiverappliance.common.StaticContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataRetrievalServlet</servlet-name>
        <servlet-class>org.epics.archiverappliance.retrieval.SinglePVDataRetrievalServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>MultiPVDataRetrievalServlet</servlet-name>
    	<servlet-class>org.epics.archiverappliance.retrieval.MultiPVDataRetrievalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PingServlet</servlet-name>
        <servlet-class>org.epics.archiverappliance.retrieval.PingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BPLServlet</servlet-name>
        <servlet-class>org.epics.archiverappliance.retrieval.BPLServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaticContent</servlet-name>
        <url-pattern>/ui/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PingServlet</servlet-name>
        <url-pattern>/ping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SinglePVDataRetrievalServlet</servlet-name>
        <url-pattern>/data/getData*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>MultiPVDataRetrievalServlet</servlet-name>
    	<url-pattern>/data/getDataForPVs*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BPLServlet</servlet-name>
        <url-pattern>/bpl/*</url-pattern>
    </servlet-mapping>
	<listener>
		<listener-class>org.epics.archiverappliance.config.ArchServletContextListener</listener-class>
	</listener> 
</web-app>