<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
 <Appenders>
  <RollingFile name="RollingFile" fileName="arch.log" filePattern="arch-%d{yyyy-MM-dd}-%i.log">
   <PatternLayout>
    <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
   </PatternLayout>
   <Policies>
    <TimeBasedTriggeringPolicy/>
    <SizeBasedTriggeringPolicy size="25 MB"/>
   </Policies>
   <DefaultRolloverStrategy max="10"/>
  </RollingFile>
  <Console name="STDOUT" target="SYSTEM_OUT">
   <PatternLayout>
    <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
   </PatternLayout>
  </Console>
 </Appenders>

 <Loggers>
  <Logger name="config" level="debug"/>
  <Logger name="hz" level="warn"/>
  <Root level="debug">
   <AppenderRef ref="RollingFile" level="$${env:LOG_LEVEL:-info}"/>
   <AppenderRef ref="STDOUT" level="info"/>
  </Root>
 </Loggers>
</Configuration>
