html {
  background: white;
}

body {
  color: black;
  width: 1024px;
  margin: 0 auto;
  padding-bottom: 50px;
  font-family: Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

.page {
  min-height: 600px;
}

.apptitle {
  padding-left: 1em;
  padding-top: 1em;
  font-family: Helvetica, sans-serif;
  color: white;
  font-size: 2em;
  display: inline-block;
  font-weight: bold;
  float: left;
}

#siteimages {
  float: right;
  padding-top: 0.5em;
}

.navbar {
  background-color: #0f687e;
}

.nav {
  border-top-style: solid;
  border-top-color: white;
  border-top-width: 0.0625em;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 0.5em;
}

ul.mainmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Float the list items side by side */
ul.mainmenu li {
  float: left;
}

/* Style the links inside the list items */
ul.mainmenu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.875em 1em;
  text-decoration: none;
  transition: 0.5s;
}

/* Change background color of links on hover */
ul.mainmenu li a:hover {
  background-color: #1272a9;
}

ul.mainmenu li a.active {
  border-style: solid;
  border-color: white;
  border-width: 0.0625em;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.mainmenu li.icon {
  display: none;
}

.page p {
  font-size: 1em;
  line-height: 1.25em;
  margin: 1.25em 1.25em 1em 0em;
  text-align: justify;
}

input[type="button"] {
  background-color: white;
  color: black;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  border: 2px solid #e7e7e7;
}

input[type="button"]:hover {
  background-color: #e7e7e7;
}
