<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>appliance archiver Quick Chart</title>
<script src="../ui/comm/js/jquery-1.8.2.min.js"></script>
<script src="../ui/comm/js/jquery.flot.js"></script>
<script src="../ui/comm/js/jquery.flot.navigate.js"></script>
<script src="../ui/comm/js/dateformat.js"></script>
<link rel="stylesheet" type="text/css" href="../ui/css/testjson.css" />
<script type="text/javascript">
var params = {params};

</script>
</head>
<body>
  <div id="summary">Data for <span id="pvname">{pv}</span> requested from <span id="starttime">{humanreadablestart}</span> to <span id="endtime">{humanreadableend}</span></div>
  <div id="chartplaceholder" style="width:1280px;height:800px;"></div>
  <div id="message"></div>  
  <script src="../ui/js/archclient.js"></script>
</body>
</html>