html {
	
}


body {
	margin: 1.0em;
	background: white;
	width: 1280px;
}

#wrap {
   width:1280px;
   margin:0 auto;
}

#topbar { 
	background: #FFB873;
	font-size: smaller;
	padding-right:2.0em;
	text-align: right;
	padding-top: 0.25em;
	padding-bottom : 0.25em;
    color: gray;
}

#leftnav {
   float:left;
   width:200px;
   margin-top: 0.5em;
   margin-left: 0.5em;
   padding-top: 0.5em;
   padding-bottom: 10.0em;
   border-right: thin #04819E dotted;
}

#rightcontent {
   width:1000px;
   float:right;
   margin-top: 0.5em;
}

#rightcontent a, #rightcontent a.visited {
	color: #04819E;
}

#title {
  font-family: Garamond, serif;
  color: #071D70;
  font-size: 30px;
  padding-top: 1.0em;
  padding-left: 1.0em;
  padding-bottom: 1.0em;
  text-align: left;
  background: #04819E;
  margin-bottom: 0px;
}

#title img {
	height: 3.0em;
	width: 3.0em;
	padding-right: 1.0em;
	margin-top: -0.85em;
	float:right;
}

#title a, #title a.visited { 
	color: #071D70;
	font-style: normal;
	text-decoration: none;
}

#leftnavtitle { 
	font-weight: bold;
	color: #A65200;
	border-bottom: thin #04819E dotted;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}

h3 {
	font-size: 20px;
	border-bottom: thin #04819E dotted;
	color: #071D70;
}

#leftnav li { 
	margin-left: -0.75em;
}

#leftnav li, #leftnav li a, #leftnav li a:visited {
	list-style: none;
	color: #A65200;
}

#intro{
	margin-bottom: 1.0em;
}

footer {
    font-family: Garamond, serif;
    font-style: italic;
	margin-top: 20.0em;
	float: right;
	margin-right: 1.0em;	
}

section { 
	margin-bottom: 1.0em;	
}


ul.definition { 
	list-style: none;
}

ul.definition span.definitionterm:after { 
	content: " --- "; 
}

figure { 
	margin-bottom: 3.0em;
}

figcaption { 
	margin-top: 1.0em;
	text-align: center;
	font-weight: bold;
}


img.imageshowingstep {
	display: block;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

div.noteafterlist { 
	margin-top: 0.5em;
}


div.url_formula { 
	font-size: larger;
	font-family: monospace;
	margin-top: 0.25em;	
}

div.url_formula #part1 { 
	color: Maroon;
}

div.url_formula #part2 { 
	color: Navy;
}

div.url_formula #part3 { 
	color: Maroon;
}

div.url_formula #part4 { 
	color: Navy;
}


.reportitle { 
	color: Navy;
}

span.diff { 
	font-weight: bold;
	background: #FFB873;
}




#postprocessorops {
	border-collapse: collapse;
	margin-top: 1.0em;
}

#postprocessorops th, td{
	border: thin solid black;
	padding: 0.25em;
	font-weight: normal;
}

#postprocessorops th {
	text-align: left;
	background: #99cedb;
	font-weight: bold;
}


#postprocessorops tbody tr:nth-child(2n) {
	background: #99cedb;
}

#postprocessorops tbody tr td:first-child {
	font-family: monospace;
}

ol.QandA div:first-child { 
	color: #071D70;
}

ol.QandA div:nth-child(2) {
	text-indent: 2.0em;
	margin-bottom: 1.0em;
}

ol.QandA table { 
	border-collapse: collapse;
	margin-top: 10px;
	margin-bottom: 10px;
}

ol.QandA thead tr th { 
	background: #99cedb;
	border: thin solid black;
}

